html, h1, h2, h3, h4, h5, h6 {
  font-family: "Courier New", Courier, monospace !important;
}

[v-cloak] {
  display: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.panel {
  position: absolute;
  margin: 30px;
  left: 0;
  width: 300px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.panel-content {
  padding: 30px;
}

.preview {
  position: fixed;
  max-width: 1000px;
  min-width: 670px;
  margin-left: 330px;
  height: 100%;
}

.preview-result {
  top: 0;
  bottom: 0;
  left: 300px;
  right: 0;
}

.logo-entity {
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}


/* colorpicker */
.vc-chrome {
  width: 100% !important;
  padding: 0 !important;
  box-shadow: none !important;
}
.vc-chrome-body {
  padding: 16px 0 !important;
}
.vc-input__input {
  box-shadow: none !important;
}
.vc-chrome-color-wrap {
  display: none;
}
