<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>logobot by b12</title>
    <script src="./vendor/vue.min.js"></script>
    <script src="./vendor/vue-color.min.js"></script>
    <script src="./vendor/jquery.min.js"></script>
    <script src="./vendor/fontfaceonload.js"></script>
    <script src="./vendor/tinycolor-min.js"></script>
    <script src="./vendor/canvg.min.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="container" id="main" v-cloak>
        <div class="panel">
            <div class="panel-content">
                <header class="panel-header">
                    <img src="./img/sleep-robot.svg" alt="logo">
                    <div>logobot</div>
                </header>
                <div>
                    <div class="my-sm">
                        <label>
                            Name
                            <input type="text" v-model="title.text" class="form-control">
                        </label>
                    </div>
                    <div class="my-sm">
                        <label>
                            Tagline
                            <input type="text" v-model="subtitle.text" class="form-control">
                        </label>
                    </div>
                    <div class="my-sm">
                        <label>
                            Logo
                            <input type="file" ref="logo" accept="image/*" @change="onImageChange">
                        </label>
                    </div>
                    <div class="my-sm">
                        <label>Position</label>
                        <div class="button-groups">
                            <button class="button" :class="{'active': align == 'left'}" @click="align = 'left'">
                                <img src="./img/align-left.svg" alt="align left" class="icon">
                            </button>
                            <button class="button" :class="{'active': align == 'top'}" @click="align = 'top'">
                                <img src="./img/align-top.svg" alt="align top" class="icon">
                            </button>
                            <button class="button" :class="{'active': align == 'right'}" @click="align = 'right'">
                                <img src="./img/align-right.svg" alt="align right" class="icon">
                            </button>
                            <button class="button" :class="{'active': align == 'bottom'}" @click="align = 'bottom'">
                                <img src="./img/align-bottom.svg" alt="align bottom" class="icon">
                            </button>
                        </div>
                    </div>
                    <a class="button button--primary my-sm" download="logo.png" href="" ref="download" @mouseover="render">download</a>
                    <button class="button button--link" @click="advanced = !advanced">{{ !advanced ? 'show advanced' : 'hide advanced' }}</button>

                    <div v-show="advanced">
                        <hr>

                        <h3>Name</h3>

                        <div class="my-sm">
                            <label>
                                Font
                                <select class="form-control" v-model="title.font">
                                    <optgroup v-for="fontgroup in fonts" :label="fontgroup.name">
                                        <option v-for="font in fontgroup.fonts">{{ font }}</option>
                                    </optgroup>
                                </select>
                            </label>
                        </div>
                        <div class="my-sm">
                            <label>
                                Size
                                <div>
                                    <input type="range" v-model="title.size" min="8" max="120">
                                    <span class="float-right">{{ title.size }}</span>
                                </div>
                            </label>
                        </div>
                        <div class="my-sm">
                            <label>
                                <input type="checkbox" v-model="title.bold">
                                Bold
                            </label>
                            <label>
                                <input id="title-italic" type="checkbox" v-model="title.italic">
                                Italic
                            </label>
                        </div>
                        <div class="my-sm">
                            <label>
                                Color
                                <colorpicker :value="title.color" @input="function(c) { title.color = c.hex }"></colorpicker>
                            </label>
                        </div>
                        <hr>
                        <h3>Label</h3>
                        <div class="my-sm">
                            <label>
                                Font
                                <select class="form-control" name="" v-model="subtitle.font">
                                    <optgroup v-for="fontgroup in fonts" :label="fontgroup.name">
                                        <option v-for="font in fontgroup.fonts">{{ font }}</option>
                                    </optgroup>
                                </select>
                            </label>
                        </div>
                        <div class="my-sm">
                            <label>
                                Size
                                <div>
                                    <input type="range" v-model="subtitle.size" min="8" max="120">
                                    <span class="float-right">{{ subtitle.size }}</span>
                                </div>
                            </label>
                        </div>
                        <div class="my-sm">
                            <label>
                                <input id="subtitle-bold" type="checkbox" v-model="subtitle.bold">
                                Bold
                            </label>
                            <label>
                                <input id="subtitle-italic" type="checkbox" v-model="subtitle.italic">
                                Italic
                            </label>
                        </div>
                        <div class="my-sm">
                            <label>
                                Color
                                <colorpicker :value="subtitle.color" @input="function(c) { subtitle.color = c.hex }"></colorpicker>
                            </label>
                        </div>
                        <hr>
                        <h3>Customization</h3>
                        <div class="my-sm">
                            <label>
                                Logo size
                                <div>
                                    <input type="range" v-model="logo.size" min="16" max="200">
                                    <span class="float-right">{{ logo.size }}</span>
                                </div>
                            </label>
                        </div>
                        <div class="my-sm">
                            <label>
                                Logo Distance
                                <div>
                                    <input type="range" v-model="logo.distance" min="-20" max="40">
                                    <span class="float-right">{{ logo.distance }}</span>
                                </div>
                            </label>
                        </div>
                        <div class="my-sm">
                            <label>
                                Label Distance
                                <div>
                                    <input type="range" v-model="subtitle.distance" min="-20" max="40">
                                    <span class="float-right">{{ subtitle.distance }}</span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="preview" ref="preview">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" ref="svg">
                <image id="g-logo" :xlink:href="logo.image" :width="logoSize.width + 'px'" :height="logoSize.height + 'px'" />
                <g id="g-title" class="logo-entity" ref="title">
                    <text dominant-baseline="text-before-edge"
                          alignment-baseline="text-before-edge"
                          :font-family="title.font"
                          :font-size="title.size + 'px'"
                          :font-weight="title.bold ? 'bold' : ''"
                          :font-style="title.italic ? 'italic' : ''"
                          :fill="title.color">{{ title.text }}</text>
                </g>
                <g id="g-subtitle" class="logo-entity" ref="subtitle">
                    <text dominant-baseline="text-before-edge"
                          alignment-baseline="text-before-edge"
                          :font-family="subtitle.font"
                          :font-size="subtitle.size + 'px'"
                          :font-weight="subtitle.bold ? 'bold' : ''"
                          :font-style="subtitle.italic ? 'italic' : ''"
                          :fill='subtitle.color'>{{ subtitle.text }}</text>
                </g>
            </svg>
        </div>
    </div>
    <script src="./js/app.js"></script>
</body>
</html>
